
CREATE TABLE IF NOT EXISTS analytics (
  id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
  type VARCHAR NOT NULL,
  date DATE NOT NULL,
  count INTEGER NOT NULL DEFAULT 1,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(type, date)
);

CREATE INDEX idx_analytics_type_date ON analytics(type, date);

